apsimNGpy~=0.31
matplotlib~=3.9.0
numpy~=1.26.4
pandas~=2.2.2
psutil~=6.0.0
requests~=2.31.0
tqdm~=4.67.0
xmltodict~=0.13.0
scipy~=1.12.0
progressbar~=2.5
pythonnet~=3.0.3
clr~=1.0.3
geopandas~=1.0.0
tenacity~=8.2.3
wrapdisc~=2.5.0
shapely~=2.0.2
geopy~=2.4.1
SQLAlchemy~=2.0.27
SALib~=1.5.0
setuptools~=75.5.0
joblib~=1.4.2
Pygments~=2.18.0